# Duality gitignore

# Directories
.git
.vs
Backup
Source/Code/../bin
Source/Code/../obj
Source/Code/packages
Source/Packages
Source/Media
Plugins

# File extensions
*.dll
*.pdb
*.xml
*.XML
*.chm
*.exe
*.config
*.txt
*.cache

# Files included
!./Duality.dll
!DualityEditor.exe
!DualityEditor.exe.config
!DualityPrimitives.dll
!NuGet.Core.dll
!PackageConfig.xml
!VistaBridgeLibrary.dll
!Windows7.DesktopIntegration.dll
!packages.config
Source/Code/AdamsLair.Duality.Samples.CameraController/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Source/Code/AdamsLair.Duality.Samples.CameraController/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Source/Code/AdamsLair.Duality.Samples.CameraController/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Source/Code/AdamsLair.Duality.Samples.CameraController/bin/Debug/DualityPrimitives.dll
*.chw
Assets/.autosave/
Assets/charleston1925.ogg
Assets/tilemap_music Project/Ableton Project Info/AProject.ico
Assets/tilemap_music Project/Ableton Project Info/Project8_1.cfg
Assets/tilemap_music Project/Desktop.ini
Assets/tilemap_music Project/Samples/Processed/Reverse/Clap 2 (Aquarium) R.wav
Assets/tilemap_music Project/Samples/Processed/Reverse/Clap 2 (Aquarium) R.wav.asd
Assets/tilemap_music Project/Samples/Processed/Reverse/Lev_Bass_Oneshot_A#_07 R.wav
Assets/tilemap_music Project/Samples/Processed/Reverse/Lev_Bass_Oneshot_A#_07 R.wav.asd
Assets/tilemap_music Project/Samples/Processed/Reverse/Lev_Fall_110_8_Infestation R.wav
Assets/tilemap_music Project/Samples/Processed/Reverse/Lev_Fall_110_8_Infestation R.wav.asd
Assets/tilemap_music Project/Samples/Processed/Reverse/Lev_Impact_Crumble R.wav
Assets/tilemap_music Project/Samples/Processed/Reverse/Lev_Impact_Crumble R.wav.asd
Assets/tilemap_music Project/Samples/Recorded/0001 3-Audio.wav
Assets/tilemap_music Project/Samples/Recorded/0001 4-Audio.wav
Assets/tilemap_music Project/tilemap_music.als
Assets/tilemap_music Project/tilemap_music.wav
Assets/tilemap_music Project/tilemap_music.wav.asd
Assets/tilemap_music Project/tilemap_music_II.wav
Assets/tilemap_music Project/tilemap_music_II.wav.asd
